@keyframes topOpenAnimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(13px) rotate(0);
  }
  100% {
    transform: translateY(13px) rotate(225deg);
  }
}
@keyframes bottomOpenAnimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-13px) rotate(0);
  }
  100% {
    transform: translateY(-13px) rotate(-225deg);
  }
}
@keyframes topCloseAnimation {
  0% {
    transform: translateY(13px) rotate(225deg);
  }
  50% {
    transform: translateY(13px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes bottomCloseAnimation {
  0% {
    transform: translateY(-13px) rotate(-225deg);
  }
  50% {
    transform: translateY(-13px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes tooltip {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.mode-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  overflow: hidden;
  cursor: pointer;
}
.mode-switcher:hover .sun {
  stroke: #be1616;
}
.mode-switcher:hover .moon {
  stroke: #08ee51;
}
.mode-switcher.dark .sun {
  transform: translateX(130%);
}
.mode-switcher.dark .moon {
  transform: translate(140%, -50%);
}

.mode-switcher-desktop {
  display: none;
}

.moon {
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
}

.sun, .moon {
  pointer-events: none;
  transition: stroke 0.3s, transform 0.2s;
}

.sun {
  position: absolute;
}

.accent-text {
  color: var(--accentColor);
}

.section-title {
  margin: 0 0 3em;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
}

.underline-text {
  position: relative;
}
.underline-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accentColor);
}

.section-padding {
  padding: 6em 2em;
}

.divider {
  margin: 4em 0;
  width: 100px;
  height: 2px;
  background-color: var(--accentColor);
}

.line {
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  height: 130px;
  width: 2px;
  background-color: var(--accentColor);
  z-index: 10;
}
.line .square {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 22px;
  height: 22px;
  aspect-ratio: 1;
  min-width: 22px;
  min-height: 22px;
  background-color: var(--accentColor);
}

.nav__toggle-btn {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.nav__toggle-btn.closed .nav__toggle-bar--top {
  animation: topCloseAnimation 0.3s forwards;
}
.nav__toggle-btn.closed .nav__toggle-bar--middle {
  opacity: 1;
}
.nav__toggle-btn.closed .nav__toggle-bar--bottom {
  animation: bottomCloseAnimation 0.3s forwards;
}

.nav__toggle-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: var(--lightGray);
  border-radius: 30px;
}
.nav__toggle-bar--top {
  top: 8px;
}
.nav__toggle-bar--middle {
  top: 21px;
  transition: opacity 0.3s;
}
.nav__toggle-bar--bottom {
  top: 34px;
}

.nav__toggle-btn[aria-expanded=true] .nav__toggle-bar--top {
  animation: topOpenAnimation 0.3s forwards;
}

.nav__toggle-btn[aria-expanded=true] .nav__toggle-bar--middle {
  opacity: 0;
}

.nav__toggle-btn[aria-expanded=true] .nav__toggle-bar--bottom {
  animation: bottomOpenAnimation 0.3s forwards;
}

@media (min-width: 576px) {
  .section-title {
    font-size: 3.2rem;
  }
}
@media (min-width: 700px) {
  .section-title {
    font-size: 3.4rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
  .mode-switcher {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
  .mode-switcher-mobile {
    display: none;
  }
  .mode-switcher-desktop {
    display: flex;
  }
}
@media (min-width: 768px) {
  .divider {
    transform: rotate(90deg);
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4rem;
  }
  .line {
    height: 150px;
    bottom: -12.5px;
  }
  .line .square {
    width: 25px;
    height: 25px;
    min-height: 25px;
    min-width: 25px;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: #000;
  --accentColor: #D32F2F;
  --modeColor: #fff;
  --lightGray: #555555;
  --pureBlack: #000;
  --servicesBg: #F2F2F2;
  --offersBg: #fbfaf6;
  --aboutBg: linear-gradient(to bottom, #DCE4E8 0%, #E1E1E1 100%);
  --contactBg: #F0F0F0;
  --mainFont: "Oswald", sans-serif;
  --secondaryFont: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  font-family: var(--mainFont);
  overflow-x: hidden;
}
body.dark {
  --textColor: #eddfdf;
  --accentColor: #2fd363;
  --modeColor: #111010;
  --lightGray: #555555;
  --pureBlack: #000;
  --servicesBg: #F2F2F2;
  --offersBg: #1b1a1a;
  --aboutBg: linear-gradient(to bottom, #292424 20%, #0f0c0c 100%);
  --contactBg: #181515;
}
body.dark .header__btn:hover, body.dark .header__btn:focus-visible {
  color: #fff;
}
body.dark .underline-text {
  color: var(--textColor);
}
body.dark .accent-text, body.dark .offers__link {
  color: var(--accentColor);
}
body.dark .dark-visible {
  display: inline-block;
}
body.dark .light-visible {
  display: none;
}
body.dark .nav__toggle-bar {
  background-color: var(--textColor);
}
body.dark .nav__mobile-link {
  color: var(--textColor);
}
body.dark .nav__mobile {
  background-color: var(--modeColor);
}
body.dark .nav__mobile-icon {
  color: var(--textColor);
}

img {
  max-width: 100%;
  display: block;
  font-style: italic;
  color: var(--modeColor);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 1em;
  background-color: var(--modeColor);
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.0745098039);
  z-index: 1000;
}
.nav.shrink .nav__logo img {
  width: 100px;
  height: 36px;
  transition: width 0.2s, height 0.2s;
}
.nav.shrink .nav__desktop-link {
  padding: 1em 2em;
  font-size: 1.5rem;
  transition: padding 0.2s, color 0.3s;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  text-decoration: none;
}
.nav__logo img {
  aspect-ratio: 1;
  background-color: var(--modeColor);
}
.nav__desktop {
  display: none;
}
.nav__mobile {
  position: fixed;
  display: flex;
  height: 100vh;
  inset-inline: 0;
  bottom: 0;
  top: 6em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10em 2em;
  background-color: #fff;
  list-style-type: none;
  z-index: -1;
  transform: translateX(105%);
  background-color: rgb(255, 255, 255);
  transition: transform 0.4s, visibility 0.4s;
  visibility: hidden;
}
.nav__mobile.collapsed {
  transform: translateX(0);
  visibility: visible;
}
.nav__mobile-link {
  position: relative;
  display: block;
  padding: 0.7em 1.4em;
  font-size: 3.4rem;
  text-decoration: none;
  color: var(--pureBlack);
  font-weight: 300;
  letter-spacing: 2px;
}
.nav__mobile-link:focus {
  outline: none;
  color: var(--accentColor);
}
.nav__mobile-link.animation {
  animation: slideLeft 0.4s both;
}
.nav__mobile-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin-block-start: 5em;
  width: min(300px, 80%);
  border-top: 2px solid var(--accentColor);
}
.nav__mobile-icon {
  display: inline-block;
  font-size: 2.8rem;
  text-decoration: none;
  color: var(--pureBlack);
  transition: color 0.3s;
}
.nav__mobile-icon:hover, .nav__mobile-icon:focus {
  outline: none;
  color: var(--accentColor);
}

.header {
  position: relative;
  overflow: hidden;
}
.header__bg {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__bg--wood {
  background-image: url("../images/wood-blurred.jpg");
}
.header__bg--leaves {
  background-image: url("../images/leaves-blurred.jpg");
}
.header__bg--painting {
  background-image: url("../images/painting-blurred.jpg");
}
.header__bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.header__content {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2em;
  text-align: center;
}
.header__content .accent-text {
  font-weight: 600;
}
.header__title, .header__info-text {
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 3px 3px 5px rgba(46, 46, 46, 0.5);
  letter-spacing: 2px;
  line-height: 180%;
  color: #fff;
}
.header__title {
  font-size: clamp(2.8rem, 8vw, 4.8rem);
  display: inline-block;
}
.header__btn {
  display: inline-block;
  margin: 2em 0 7em;
  padding: 1.1em 2.5em;
  text-decoration: none;
  background-color: var(--accentColor);
  border-radius: 30px;
  color: var(--modeColor);
  border: 2px solid transparent;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  text-transform: uppercase;
  filter: drop-shadow(5px 5px 10px rgba(46, 46, 46, 0.1803921569));
  text-shadow: 3px 3px 5px rgba(46, 46, 46, 0.1803921569);
  transition: background 0.3s, border 0.3s, opacity 0.6s 0.6s ease, transform 0.6s 0.6s ease !important;
}
.header__btn:hover, .header__btn:focus-visible {
  background: none;
  border: 2px solid var(--accentColor);
  outline: none;
}
.header__box {
  margin: 2em 0;
}
.header__box .light-visible {
  display: inline-block;
  aspect-ratio: 1;
  min-width: 17px;
  min-height: 17px;
  filter: drop-shadow(5px 5px 10px rgba(46, 46, 46, 0.1803921569));
}
.header__info-text {
  font-size: clamp(1rem, 5vw, 2.6rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 450;
}

.dark-visible {
  display: none;
}

.services {
  overflow: hidden;
  position: relative;
  background-color: var(--modeColor);
}
.services.section-padding {
  padding: 8em 2em 18em;
}
.services .section-title {
  margin: 0 0 2em;
}
.services__content-bg {
  display: none;
}
.services__img {
  margin-block-end: 4em;
  filter: drop-shadow(5px 5px 10px rgba(46, 46, 46, 0.1803921569));
  background-image: url("../images/services-img-blurred.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.services__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.services__item {
  display: flex;
  align-items: center;
  margin: 3em 0;
}
.services__checkbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-inline-end: 2em;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid var(--textColor);
  border-radius: 5px;
}
.services__checkbox img {
  width: 90%;
  height: 90%;
}
.services__text {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--textColor);
}

.offers {
  position: relative;
  background-color: var(--offersBg);
}
.offers .divider {
  width: 50%;
  max-width: 500px;
  margin: 2em auto;
  height: 1px;
}
.offers .line {
  bottom: initial;
  top: -119px;
}
.offers.section-padding {
  padding: 10em 2em 4em;
}
.offers__offer {
  margin: 10em 0;
}
.offers__offer:first-child {
  margin: 0;
}
.offers__offer:last-child {
  margin: 10em 0 5em;
}
.offers__img {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.offers__img--mowing {
  background-image: url("../images/mowing-blurred.jpg");
}
.offers__img--rake {
  background-image: url("../images/rake-blurred.jpg");
}
.offers__img--wood {
  background-image: url("../images/wood-work-blurred.jpg");
}
.offers__img--garden {
  background-image: url("../images/garden-work-blurred.jpg");
}
.offers__img--brush {
  background-image: url("../images/brush-blurred.jpg");
}
.offers__img--paving {
  background-image: url("../images/paving-blurred.jpg");
}
.offers__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.offers__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.offers__info {
  margin-block-end: 1em;
  text-align: center;
  font-family: var(--secondaryFont);
  font-size: 1.25rem;
  color: var(--textColor);
}
.offers__info .accent-text {
  font-weight: 600;
  color: #9a2222;
}
.offers__link {
  color: #9a2222;
  text-decoration: none;
}
.offers__link:hover, .offers__link:focus-visible {
  text-decoration: underline;
}
.offers__content {
  padding: 2em 0;
}
.offers__title {
  margin-block-end: 1em;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--textColor);
}
.offers__title .accent-text {
  font-weight: 600;
}
.offers__text {
  font-size: 1.4rem;
  font-family: var(--secondaryFont);
  line-height: 150%;
  color: var(--textColor);
}

.about {
  background-image: var(--aboutBg);
  text-align: center;
  position: relative;
}
.about.section-padding {
  padding: 8em 2em 18em;
}
.about__info {
  margin: 5em 0;
}
.about__info-icon {
  color: var(--accentColor);
  font-size: 2.1rem;
}
.about__info-title {
  margin: 0.5em 0;
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--textColor);
}
.about__info-text {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--secondaryFont);
  line-height: 150%;
  color: var(--textColor);
}

.contact {
  background-color: var(--contactBg);
  text-align: center;
  color: var(--textColor);
}
.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__box-title, .contact__box-data {
  font-size: 2.1rem;
  font-weight: 350;
  letter-spacing: 2px;
}
.contact__box-data {
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--textColor);
  text-decoration: none;
}
.contact__box-data:hover {
  text-decoration: underline;
}
.contact__box-title {
  text-transform: uppercase;
}
.contact__box-icon {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--textColor);
}

.footer {
  padding: 2em;
  border-top: 1px solid var(--textColor);
  background-color: var(--contactBg);
  text-align: center;
  font-family: var(--secondaryFont);
  color: var(--textColor);
}
.footer__text {
  font-size: 1.3rem;
}
.footer__text:last-child {
  margin-block-start: 0.5em;
}

@media (min-width: 576px) {
  .nav__mobile {
    width: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    left: initial;
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  }
  .services__text {
    font-size: 2.2rem;
  }
  .services__checkbox {
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;
  }
  .services__content {
    padding: 2em;
  }
  .offers.section-padding {
    padding: 10em 2em 5em;
  }
  .offers .divider {
    margin: 6em auto 3em;
  }
  .offers__title {
    font-size: 2.6rem;
  }
  .offers__text {
    font-size: 1.65rem;
  }
  .offers__info {
    font-size: 1.3rem;
  }
  .contact__box-title, .contact__box-data {
    font-size: 2.4rem;
  }
  .contact__box-icon {
    font-size: 2.6rem;
  }
  .about__info-title {
    font-size: 2.1rem;
  }
  .about__info-text {
    font-size: 1.7rem;
  }
  .about__info-icon {
    font-size: 2.3rem;
  }
}
@media (min-width: 700px) {
  .nav {
    padding: 0 1em;
  }
  .nav .wrapper {
    justify-content: flex-start;
  }
  .nav__logo img {
    transition: height 0.1s, width 0.1s;
  }
  .nav__desktop-link {
    transition: padding 0.1s, color 0.3s;
  }
  .nav__toggle-btn {
    display: none;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    margin-inline-start: 2em;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .nav__desktop-link {
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    font-size: 2rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 300;
    letter-spacing: 2px;
    transition: color 0.3s;
  }
  .nav__desktop-link:hover, .nav__desktop-link:focus-visible {
    color: var(--accentColor);
    outline: none;
  }
  .header {
    display: flex;
    height: 80vh;
  }
  .header__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header__title {
    font-size: 3.4rem;
  }
  .header__text {
    width: 50%;
    text-align: left;
  }
  .header__info {
    width: 48%;
  }
  .header__box:first-child {
    margin: 0 0 2em;
  }
  .header__info-text {
    font-size: 1.8rem;
  }
  .header__btn {
    margin: 2em 0 0;
  }
  .services.section-padding {
    padding: 10em 2em 25em;
  }
  .services__content {
    position: relative;
    z-index: 0;
  }
  .services__content-bg {
    display: block;
    position: absolute;
    width: 150%;
    height: 150%;
    top: -5em;
    left: -5em;
    transform: rotate(-20deg);
    z-index: -1;
    opacity: 0.03;
  }
  .offers.section-padding {
    padding: 14em 2em 6em;
  }
  .offers__offer {
    margin: 12em 0;
  }
  .offers__title {
    font-size: 2.8rem;
  }
  .offers__text {
    font-size: 1.8rem;
  }
  .about.section-padding {
    padding: 10em 2em 20em;
  }
  .about .section-title {
    margin: 0 0 2em;
  }
  .about__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .about__info {
    width: 45%;
    margin: 5em 1em;
  }
}
@media (min-width: 768px) {
  .header__info-text {
    display: inline-block;
    padding-inline-start: 0.3em;
  }
  .header__info {
    display: flex;
    flex-direction: column;
  }
  .header__box {
    text-align: left;
    margin: 0;
  }
  .header__box:first-child {
    margin: 0 0 3em 1.5em;
  }
  .header__box:last-child {
    margin: 3em 0 0 1.5em;
  }
  .services .section-title {
    font-size: 3rem;
  }
  .services__box {
    display: flex;
    justify-content: center;
  }
  .services__text {
    font-size: 1.8rem;
  }
  .services__checkbox {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
  }
  .services__img {
    width: min(400px, 45%);
    border-radius: 10px;
    overflow: hidden;
  }
  .services__img::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .services__img img {
    height: 100%;
  }
  .services__content {
    width: 55%;
    padding: 2em 4em;
  }
  .services__content-bg {
    top: -10em;
    left: -5em;
  }
  .offers .divider {
    transform: rotate(0);
    margin: 10em auto 3em;
  }
  .offers__info {
    font-size: 1.4rem;
  }
  .offers__offer {
    display: flex;
    margin: 15em 0;
  }
  .offers__offer:nth-child(even) .offers__img {
    order: 1;
  }
  .offers__img {
    width: 50%;
    min-height: 286px;
    max-height: 340px;
  }
  .offers__img img {
    height: 100%;
  }
  .offers__content {
    position: relative;
    width: 50%;
    padding: 2em;
  }
  .offers__content::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 2px;
    background-color: var(--accentColor);
  }
  .offers__title {
    font-size: 2.1rem;
  }
  .offers__text {
    font-size: 1.55rem;
  }
  .contact__box {
    text-align: left;
    flex-direction: row;
    justify-content: center;
  }
  .contact__box-info {
    align-items: flex-start;
  }
  .contact__box-title, .contact__box-data {
    font-size: 1.8rem;
  }
  .contact__box-icon {
    position: relative;
    font-size: 2.4rem;
    transition: color 0.3s;
  }
  .contact__box-icon:hover {
    color: #1E90FF;
  }
  .contact__box-icon:focus-visible {
    outline: none;
    color: #1E90FF;
  }
  .contact__box-icon:hover::before, .contact__box-icon:hover::after {
    display: flex;
    animation: tooltip 0.3s 0.2s forwards;
    transition: opacity 0.3s 0.2s, transform 0.3s 0.2s cubic-bezier(0.25, 0.1, 0.12, 1.73);
  }
  .contact__box-icon::before {
    display: none;
    content: "Facebook";
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3.4em;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 90px;
    height: 30px;
    opacity: 0;
    background-color: #1E90FF;
    font-size: 1.2rem;
    font-family: var(--secondaryFont);
    color: var(--textColor);
    border-radius: 5px;
    letter-spacing: 1px;
    pointer-events: none;
  }
  .contact__box-icon::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 0;
    height: 0;
    opacity: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #1E90FF;
    pointer-events: none;
  }
}
@media (min-width: 800px) {
  .header__title {
    font-size: 4rem;
  }
  .header__info-text {
    font-size: 2rem;
  }
  .header__box:first-child {
    margin: 0 0 4em 1.5em;
  }
  .header__box:last-child {
    margin: 4em 0 0 1.5em;
  }
  .services__text {
    font-size: 2rem;
  }
  .services__checkbox {
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;
  }
  .contact__box-title {
    font-size: 2rem;
  }
  .contact__box-icon {
    align-self: center;
    font-size: 2.7rem;
  }
  .about__info-icon {
    font-size: 2.6rem;
  }
  .about__info-title {
    font-size: 2.3rem;
  }
}
@media (min-width: 900px) {
  .offers__content {
    padding: 3em;
  }
  .offers__title {
    font-size: 2.5rem;
  }
  .offers__text {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  .header__title {
    font-size: 4.4rem;
    line-height: 160%;
  }
  .header__title:nth-child(2) {
    margin-inline-start: 3em;
  }
  .header__title:nth-child(3) {
    margin-inline-start: 5.5em;
  }
  .header__btn {
    align-self: flex-end;
    margin: 2em 10em 0 0;
    font-size: 1.3rem;
    z-index: 0;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__info {
    width: 42%;
  }
  .header__info-text {
    font-size: 2.2rem;
  }
  .header__box img {
    margin-inline-start: 0.4em;
  }
  .header__box:first-child {
    margin: 0 0 4em 2em;
  }
  .header__box:last-child {
    margin: 4em 0 0 2em;
  }
  .services.section-padding {
    padding: 12em 2em 25em;
  }
  .services .section-title {
    font-size: 3.4rem;
    margin: 0 0 1.5em;
  }
  .services__content {
    padding: 2em 6em;
  }
  .services__item {
    margin: 4em 0;
  }
  .offers .line {
    top: -137.5px;
  }
  .offers__title {
    font-size: 2.8rem;
  }
  .offers__text {
    font-size: 1.6rem;
    line-height: 160%;
  }
  .offers__content::before {
    height: 3px;
    width: 130px;
  }
  .offers__img {
    overflow: hidden;
  }
  .offers__img:hover img {
    transform: scale(1.2);
  }
  .offers__img img {
    transition: transform 0.3s;
  }
  .contact__box-title, .contact__box-data {
    font-size: 2.4rem;
  }
  .contact__box-icon {
    font-size: 2.9rem;
  }
  .about__info {
    width: 30%;
  }
}
@media (min-width: 1100px) {
  .about__info-icon {
    font-size: 3rem;
  }
  .about__info-title {
    font-size: 2.6rem;
  }
  .about__info-text {
    font-size: 1.8rem;
  }
  .services .section-title {
    font-size: 4rem;
  }
  .services__text {
    font-size: 2.4rem;
  }
  .offers .divider {
    margin: 14em auto 3em;
  }
  .offers__info {
    font-size: 1.6rem;
  }
  .offers.section-padding {
    padding: 18em 2em 8em;
  }
  .offers__content {
    padding: 4em;
  }
  .offers__text {
    font-size: 1.8rem;
    line-height: 170%;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 5rem;
  }
  .header__info-text {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */