@use './_animations' as *;
@use './_components' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --accentColor: #D32F2F;
    --pureWhite: #fff;
    --lightGray: #555555;
    --pureBlack: #000;
    --servicesBg: #F2F2F2;
    --aboutServicesBg: #F4F1EA;
    --aboutBg: linear-gradient(to bottom, #DCE4E8 0%, #E1E1E1 100%);
    --contactBg: #F0F0F0;
    --mainFont: 'Oswald', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--mainFont);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
    font-style: italic;
    color: var(--pureWhite);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


.nav {
    position: sticky;
    width: 100%;
    top: 0;
    padding: .5em 1em;
    background-color:var(--pureWhite);
    z-index: 1000;


    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        text-decoration: none;

        img {
            min-width: 65px;
            min-height: 65px;
            aspect-ratio: 1;
            background-color: var(--pureWhite);
        }
    }

    &__desktop {
        display: none;
    }

    &__mobile {
        position: fixed;
        display: flex;
        height: 100vh;
        inset-inline: 0;
        bottom: 0;
        top: 6em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10em 2em;
        background-color: #fff;
        list-style-type: none;
        z-index: -1;
        transform: translateX(105%);
        background-color: rgba(255, 255, 255, 0.8);
        transition: transform .4s, visibility .4s;
        visibility: hidden;
        backdrop-filter: blur(5px);


        &.collapsed {
            transform: translateX(0);
            visibility:visible;
        }
    }
    &__mobile-link {
        position: relative;
        display: block;
        padding: .7em 1.4em;
        font-size: 3.4rem;
        text-decoration: none;
        color: var(--pureBlack);
        font-weight: 300;
        letter-spacing: 2px;



        &:focus {
            outline: none;
            color: var(--accentColor);
        }
        &.animation {
            animation: slideLeft .4s both;
        }


    }
    &__mobile-social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        margin-block-start: 5em;
        width: min(300px, 80%);
        border-top: 2px solid var(--accentColor);
    }
    &__mobile-icon {
        display: inline-block;
        font-size: 2.8rem;
        text-decoration: none;
        color: var(--pureBlack);
        transition: color .3s;

        &:hover, &:focus {
            outline: none;
            color: var(--accentColor);
        }
    }
}


// HEADER 

.header {
    position: relative;


    
    &__bg {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        img {
            width: 100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }


        &--wood {
            background-image: url('../images/wood-blurred.jpg');
        }
        &--leaves {
            background-image: url('../images/leaves-blurred.jpg');
        }
        &--painting{
            background-image: url('../images/painting-blurred.jpg');
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: rgba(0, 0, 0, .65);
        }


    }


    &__content {
        position: absolute;
        width: 100%;
        max-width: 1200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 2em;
        text-align: center;

        .accent-text {
            font-weight: 600;
        }
    }
    &__title, &__info-text {
        text-transform: uppercase;
        font-weight: 400;
        text-shadow: 3px 3px 5px rgba(46, 46, 46, 0.5);
        letter-spacing: 2px;
        line-height: 180%;
        color: var(--pureWhite);
    }
    &__title {
        font-size: clamp(2.8rem, 8vw, 4.8rem);
    }
    &__btn {
        display: inline-block;
        margin: 2em 0 7em;
        padding: 1.1em 2.5em;
        text-decoration: none;
        background-color: var(--accentColor);
        border-radius: 30px;
        color: var(--pureWhite);
        border: 2px solid transparent;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: clamp(1.1rem, 2vw, 1.2rem);
        text-transform: uppercase;
        filter: drop-shadow(5px 5px 10px #2e2e2e2e);
        text-shadow: 3px 3px 5px #2e2e2e2e;
        transition: background .3s, border .3s, transform .3s;

        &:hover, &:focus-visible {
            background: none;
            border: 2px solid var(--accentColor);
            outline: none;
        }
        &:active {
            transform: scale(.95);
        }
    }

    &__box {
        margin: 2em 0;

        img {
            display: inline-block;
            aspect-ratio: 1;
            min-width: 17px;
            min-height: 17px;
            filter: drop-shadow(5px 5px 10px #2e2e2e2e);
        }

    }
    &__info-text {
        font-size: clamp(1rem, 5vw, 2.6rem);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 450;
    }
}


// CONTACT SECTION

.contact {
    background-color: var(--contactBg);
    text-align: center;
    
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__box-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__box-title, &__box-data  {
        font-size: 2.1rem;
        font-weight: 350;
        letter-spacing: 2px;
    }
    &__box-data {
        letter-spacing: 1px;
        font-weight: 300;
    }
    &__box-title {
        text-transform: uppercase;
    }
    &__box-icon {
        margin-inline-end: .5em;
        display: inline-block;
        text-decoration: none;
        font-size: 2.2rem;
        color: #1E90FF;
    }

}


// ABOUT SECTIO

.about {
    background-image: var(--aboutBg);
    text-align: center;
    position: relative;


    &.section-padding {
        padding: 8em 2em 15em;
    }

    &__info {
        margin: 5em 0;
    }
    &__info-icon {
        color: var(--accentColor);
        font-size: 2.1rem;
    }
    &__info-title {
        margin: .5em 0;
        font-size: 1.8rem;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__info-text {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: var(--secondaryFont);
        line-height: 150%;
    }
}


// FOOTER

.footer {
    padding: 2em;
    border-top: 1px solid var(--pureBlack);
    background-color: var(--contactBg);
    text-align: center;
    font-family: var(--secondaryFont);

    &__text {
        font-size: 1.3rem;

        &:last-child {
            margin-block-start: .5em;
        }
    }
}


// ============= MEDIA ===============



@media(min-width: 576px) {
    .nav {

        &__mobile {
            width: 400px;
            top: 0;
            bottom: 0;
            right: 0;
            left: initial;
            box-shadow: 5px 5px 10px #2e2e2e2e;
        }
    }

    .contact {

        &__box-title, &__box-data {
            font-size: 2.4rem;
        }
        &__box-icon {
            font-size: 2.6rem;
        }
    }

    .about {

        &__info-title {
            font-size: 2.1rem;
        }
        &__info-text {
            font-size: 1.7rem;
        }
        &__info-icon {
            font-size: 2.3rem;
        }
    }
}

@media(min-width: 700px) {

    .nav{
        padding: 0 1em;
        box-shadow: 5px 5px 10px #2e2e2e13;

        .wrapper {
            justify-content: flex-start;
        }
        &__logo img {
            width: 75px;
            height: 75px;
            transition: height .1s ease-out, width .1s ease-out;
        }
        &__desktop-link {
            transition: padding .1s, color .3s;
        }

        &__toggle-btn {
            display: none;
        }
        &__mobile {
            display: none;
        }
        &__desktop {
            display: flex;
            align-items: center;
            list-style-type: none;
        }
        &__desktop-link {
            position: relative;
            display: inline-block;
            padding: 1em 2em;
            font-size: 2rem;
            text-decoration: none;
            color: var(--pureBlack);
            font-weight: 300;
            letter-spacing: 2px;
            transition: color .3s;

            &:hover::before, &:focus-visible::before {
                transform: translateX(-50%) scale(1);
            }
            &:hover, &:focus-visible {
                color: var(--accentColor);
                outline: none;
            }
            &::before {
                content: '';
                position: absolute;
                width: 40%;
                left: 50%;
                transform: translateX(-50%) scale(0);
                transform-origin: center;
                bottom: .8em;
                height: 1px;
                background-color: var(--accentColor);
                transition: transform .3s;
            }
        }
    }

    .header {
        display: flex;
        height: 80vh;

        &__content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__title {
            font-size: 3.4rem;
        }

        &__text {
            width: 50%;
            text-align: left;
        }
        &__info {
            width: 48%;
        }
        &__box:first-child {
            margin: 0 0 2em;
        }

        &__info-text {
            font-size: 1.8rem;
        }
        &__btn {
            margin: 2em 0 0;
        }
        
    }

    .about {

        &.section-padding {
            padding: 10em 2em 20em;
        }
        .section-title {
            margin: 0 0 2em;
        }

        &__box {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-start;
        }
        &__info {
            width: 45%;
            margin: 5em 1em;
        }
    }


}


@media(min-width: 768px) {
    .header {

        &__info-text {
            display: inline-block;
            padding-inline-start: .3em;
        }
        &__info {
            display: flex;
            flex-direction: column;
        }
        &__box {
            text-align: left;
            margin: 0;

            &:first-child {
                margin: 0 0 3em 1.5em;
            }
            &:last-child {
                margin: 3em 0 0 1.5em;
            }
        }

    }

    .contact {
        &__box {
            text-align: left;
            flex-direction: row;
            justify-content: center;
        }
        &__box-info {
            align-items: flex-start;
        }
        &__box-title, &__box-data {
            font-size: 1.8rem;
        }

        &__box-icon {
            position: relative;
            font-size: 2.4rem;
            transition: color .3s;

            &:hover {
                color: #0e7cea;
            }
        &:hover::before, &:hover::after {
            opacity: 1;
            transform: translate(-50%, 0);
            transition: opacity .3s .2s, transform .3s .2s cubic-bezier(0.25, 0.1, 0.12, 1.73);
        }   

            &::before {
                content: 'Facebook';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -3.6em;
                left: 50%;
                transform: translate(-50%, 20px);
                width: 80px;
                height: 30px;
                opacity: 0;
                background-color: #0e7cea;
                font-size: 1.2rem;
                font-family: var(--secondaryFont);
                color: var(--pureWhite);
                border-radius: 5px;
                letter-spacing: 1px;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -.5em;
                left: 50%;
                transform: translate(-50%, 20px);
                width: 0; 
                height: 0; 
                opacity: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 12px solid #0e7cea;
            }
        }

    }
}

@media(min-width: 800px){
    .header {

        &__title {
            font-size: 4rem;
        }
        &__info-text {
            font-size: 2rem;
        }
        &__box {

            &:first-child {
                margin: 0 0 4em 1.5em;
            }
            &:last-child {
                margin: 4em 0 0 1.5em;
            }
        }
    }

    .contact {

        &__box-title {
            font-size: 2rem;
        }
        &__box-icon {
            align-self: center;
            font-size: 2.7rem;
        }
    }

    .about {

        &__info-icon {
            font-size: 2.6rem;
        }
        &__info-title {
            font-size: 2.3rem;
        }

    }
}

@media(min-width: 992px) {

    .header {

        &__title {
            font-size: 4.4rem;
            line-height: 160%;

            &:nth-child(2) {
                margin-inline-start: 3em;
            }
            &:nth-child(3) {
                margin-inline-start: 4em;
            }
        }

        &__btn {
            position: relative;
            align-self: flex-end;
            margin: 2em 10em 0 0;
            font-size: 1.3rem;
            overflow: hidden;
            z-index: 0;

            &:hover::before {
                animation: flash .6s .1s;
             }
             &::before {
                 content: '';
                 position: absolute;
                 left: -30%;
                 transform: translateY(-50px) rotate(30deg);
                 height: 200%;
                 width: 30px;
                 background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
                 transition: transform .2s .1s;
                 z-index: -1;
             }
        }
 

        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__info {
            width: 42%;
        }
        &__info-text {
            font-size: 2.2rem;
        }
        &__box {
            img {
                margin-inline-start: .4em;
            }
            &:first-child {
                margin: 0 0 4em 2em;
            }
            &:last-child {
                margin: 4em 0 0 2em;
            }
        }
    }

    .contact {

        &__box-title, &__box-data {
            font-size: 2.4rem;
        }
        &__box-icon {
            font-size: 2.9rem;
        }
    }

    .about {

        &__info {
            width: 30%;
        }
    }
}

@media(min-width: 1100px) {
    .about {

        &__info-icon {
            font-size: 3rem;
        }
        &__info-title {
            font-size: 2.6rem;
        }
        &__info-text {
            font-size: 1.8rem;
        }
    }
}

@media(min-width: 1200px) {
    .header {
        &__title {
            font-size: 5rem;
        }
        &__info-text {
            font-size: 2.4rem;
        }
    }
}

